<div th:fragment="contenido">

<h3>Usuarios</h3>

<a th:href="@{/usuarios/nuevo}" class="btn btn-success mb-3">Nuevo Usuario</a>

<table class="table table-bordered">
    <tr>
        <th>ID</th>
        <th>Nombre Completo</th>
        <th>Email</th>
        <th>Rol</th>
        <th>Activo</th>
        <th>Acciones</th>
    </tr>

    <tr th:each="u : ${usuarios}">
        <td th:text="${u.id}"></td>
        <td th:text="${u.nombre + ' ' + u.apellido}"></td>
        <td th:text="${u.email}"></td>
        <td th:text="${u.rol.nombre}"></td>
        <td th:text="${u.activo ? 'Sí':'No'}"></td>

        <td>
            <a th:href="@{'/usuarios/detalle/' + ${u.id}}" class="btn btn-info btn-sm">Ver</a>
            <a th:href="@{'/usuarios/editar/' + ${u.id}}" class="btn btn-primary btn-sm">Editar</a>
            <a th:href="@{'/usuarios/eliminar/' + ${u.id}}" class="btn btn-danger btn-sm">Eliminar</a>
        </td>
    </tr>

</table>

</div>
